<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<!-- css -->
<link rel="stylesheet" href="css/styles.css">
<!-- fonts -->
<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Flex:opsz@8..144&family=Source+Sans+Pro&display=swap" rel="stylesheet">
<!-- typeahead -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script  type="text/javascript" src="js/typeahead.js"></script>
<style>
.bs-example {
	font-family: Source Sans Pro;
	/* position: relative; */
	/* margin: 100px; */
  margin-bottom: 2%;
}
.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 22px; /* Set input font size */
	height: 40px;
	line-height: 40px;
	outline: medium none;
	padding: 8px 12px;
	width: 100%;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	/* margin-top: 12px; */
	padding: 8px 0;
	width: 100%;
}
.tt-suggestion {
	font-size: 22px;  /* Set suggestion dropdown font size */
	padding: 3px 20px;
}
.tt-suggestion:hover {
	cursor: pointer;
	background-color: #e06666;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}
</style>
<script>
$(document).ready(function(){
    // Defining the local dataset
    var cars = [
"Avadi",
"Farooqnagar",
"Amalapuram",
"Amadalavalasa",
"Bheemunipatnam",
"Chittoor",
"Bellampalle",
"Anakapalle",
"Bhadrachalam",
"Guntakal",
"Mandamarri",
"Miryalaguda",
"Nandyal",
"Narayanpet",
"Yerraguntla",
"Bongaigaon",
"Dispur",
"Margherita",
"Banka",
"Bettiah",
"Chhapra",
"Dhaka",
"Gaya",
"Rafiganj",
"Sultanganj",
"Supaul",
"Birgaon",
"Rajnandgaon",
"Ahmedabad",
"Khedbrahma",
"Palanpur",
"Songadh",
"Kaithal",
"Dharamsala",
"Akhnoor",
"Nagarkurnool",
"Narsipatnam",
"Ramagundam",
"Srikalahasti",
"Tadepalligudem",
"Visakhapatnam",
"Yemmiganur",
"Gauripur",
"Nalbari",
"Areraj",
"Bairgania",
"Buxar",
"Naugachhia",
"Rosera",
"Siwan",
"Ambagarh Chowki",
"Champa",
"Jagdalpur",
"Kheda",
"Padra",
"Savarkundla",
"Umreth",
"Una",
"Unjha",
"Vyara",
"Adalaj",
"Narwana",
"Palwal",
"Chirala",
"Hanuman Junction",
"Machilipatnam",
"Markapur",
"Punganur",
"Samalkot",
"Suryapet",
"Tadpatri",
"Tanuku",
"Warangal",
"Bilasipara",
"Goalpara",
"Amarpur",
"Araria",
"Bakhtiarpur",
"Chandan Bara",
"Jhanjharpur",
"Marhaura",
"Sitamarhi",
"Warisaliganj",
"Dholka",
"Karjan",
"Lathi",
"Patan",
"Ranavav",
"Upleta",
"Alang",
"Anjar",
"Ateli",
"Ganaur",
"Haibat(Yamuna Nagar)",
"Rewari",
"Samalkha",
"Shahbad",
"Anantapur",
"Bhainsa",
"Bobbili",
"Eluru",
"Kamareddy",
"Tandur",
"Vijayawada",
"Naharlagun",
"Guwahati",
"Nagaon",
"Barauli",
"Fatwah",
"Jogabani",
"Madhubani",
"Mahnar Bazar",
"Nokha",
"Bilaspur",
"Janjgir",
"Raipur",
"Daman and Diu",
"Godhra",
"Palitana",
"Rajpipla",
"Tharad",
"Vijapur",
"Adityana",
"Ambaji",
"Andada",
"Atul",
"Ballabhgarh",
"Ambala",
"Hisar",
"Thanesar",
"Solan",
"Mancherial",
"Palwancha",
"Parvathipuram",
"Pithapuram",
"Zahirabad",
"Begusarai",
"Bikramganj",
"Daudnagar",
"Jagdispur",
"Kanti",
"Amli",
"Cambay",
"Deesa",
"Limbdi",
"Morvi",
"Radhanpur",
"Ambala",
"Faridabad",
"Karnal",
"Pehowa",
"Rohtak",
"Sirsa",
"Arnia",
"Gudur",
"Jammalamadugu",
"Nizamabad",
"Sangareddy",
"Tuni",
"Dhubri",
"Diphu",
"Hailakandi",
"Hojai",
"Rangia",
"Aurangabad",
"Chanpatia",
"Dumraon",
"Makhdumpur",
"Manihari",
"Bethamcherla",
"Munger",
"Bodhan",
"Raxaul Bazar",
"Gadwal",
"Sonepur",
"Hindupur",
"Sakti",
"Jaggaiahpet",
"Curchorem Cacora",
"Jangaon",
"Bharuch",
"Kothagudem",
"Khambhat",
"Manuguru",
"Narasapur",
"Lunawada",
"Modasa",
"Tenali",
"Asankhurd",
"Yellandu",
"Cheeka",
"Rajampet",
"Kalan Wali",
"Digboi",
"Safidon",
"Lanka",
"Behea",
"Dalsinghsarai",
"Hisua",
"Islampur",
"Jamui",
"Katihar",
"Arang",
"Anand",
"Bhuj",
"Dahod",
"Kadi",
"Khambhalia",
"Sihor",
"Vapi",
"Gohana",
"Hodal",
"Bandipore",
"Dharmavaram",
"Gudivada",
"Banganapalle",
"Chilakaluripet",
"Mandapeta",
"Mogalthur",
"Pedana",
"Vinukonda",
"Vizianagaram",
"Barpeta",
"Tinsukia",
"Jehanabad",
"Kishanganj",
"Maharajganj",
"Mirganj",
"Motipur",
"Saharsa",
"Sheikhpura",
"Sheohar",
"Silao",
"Chirmiri",
"Jashpurnagar",
"Kanker",
"Mahendragarh",
"Gandhinagar",
"Petlad",
"Porbandar",
"Sanand",
"Sidhpur",
"Vapi",
"Charkhi Dadri",
"Jind",
"Rania",
"Nahan",
"Sundarnagar",
"Awantipora",
"Kathua",
"Kadiri",
"Karimnagar",
"Koratla",
"Nagari",
"Nirmal",
"Nuzvid",
"Proddatur",
"Rayadurg",
"Repalle",
"Srikakulam",
"Venkatagiri",
"Wanaparthy",
"Dibrugarh",
"Golaghat",
"Silchar",
"Barahiya",
"Barh",
"Darbhanga",
"Masaurhi",
"Mokameh",
"Motihari",
"Muzaffarpur",
"Balod",
"Dipka",
"Aldona",
"Panaji",
"Kapadvanj",
"Veraval",
"Viramgam",
"Bhiwani",
"Hansi",
"Narnaul",
"Panchkula",
"Chamba",
"Adilabad",
"Gooty",
"Guntur",
"Kagaznagar",
"Kavali",
"Bomdila",
"Pasighat",
"Dhekiajuli",
"Barbigha",
"Dighwara",
"Forbesganj",
"Khagaria",
"Samastipur",
"Sherghati",
"Dalli-Rajhara",
"Kondagaon",
"Delhi",
"Kalol",
"Mahesana",
"Mandvi",
"Mansa",
"Navsari",
"Rajkot",
"Thangadh",
"Umbergaon",
"Vadnagar",
"Bahadurgarh",
"Barwala",
"Ellenabad 2",
"Ratia",
"Arki",
"Bilaspur",
"Hyderabad",
"Bhongir",
"Kandukur",
"Khammam",
"Kovvur",
"Kyathampalle",
"Macherla",
"Madanapalle",
"Puttur",
"Rajam",
"Singapur",
"Haflong",
"Lumding",
"Banmankhi Bazar",
"Bhagalpur",
"Hilsa",
"Jamalpur",
"Murliganj",
"Narkatiaganj",
"Ramnagar",
"Sugauli",
"Ahiwara",
"Ambikapur",
"Dhamtari",
"Gobranawapara",
"Naila Janjgir",
"Silvassa",
"Keshod",
"Manavadar",
"Gurgaon",
"Jhajjar",
"Sonipat",
"Taraori",
"Tohana",
"Achabbal",
"Baramula",
"Bhimavaram",
"Cuddapah",
"Ichchapuram",
"Devarakonda",
"Kakinada",
"Jagtial",
"Narasaraopet",
"Mahbubnagar",
"Nidadavole",
"Ponnur",
"Medak",
"Ramachandrapuram",
"Palasa Kasibugga",
"Peddapuram",
"Tirupati",
"Pondur",
"Asarganj",
"Sircilla",
"Bhabua",
"Uravakonda",
"Vicarabad",
"Jhajha",
"Along",
"Lakhisarai",
"Amguri",
"Madhepura",
"North Lakhimpur",
"Mahasamund",
"Raigarh",
"Tezpur",
"Kharagpur",
"Ankleshwar",
"Nawada",
"Kodinar",
"Sasaram",
"Mehmedabad",
"Dongargarh",
"Talaja",
"Wankaner",
"Kawardha",
"Bhavnagar",
"Babiyal",
"Himatnagar",
"Fatehabad",
"Idar",
"Gharaunda",
"Baddi",
"Mandi Dabwali",
"Jammu",
"Leh",
"Kadapa",
"Rajahmundry",
"Rayachoti",
"Anandnagaar",
"Jorhat",
"Gopalganj",
"Hajipur",
"Rajgir",
"Baloda Bazar",
"Durg-Bhilai Nagar",
"Korba",
"Mungeli",
"Tilda Newra",
"Asola",
"Madgaon",
"Margao",
"Jamnagar",
"Kheralu",
"Mangrol",
"Rajula",
"Valsad",
"Ambaliyasan",
"Antaliya",
"Pinjore",
"Dalhousie",
"Hamirpur",
"Anantnag",
"Adoni",
"Bapatla",
"Kalyandurg",
"Ongole",
"Palacole",
"Renigunta",
"Sattenapalle",
"Siddipet",
"Abhayapuri",
"Mankachar",
"Mariani",
"Sibsagar",
"Silapathar",
"Arrah",
"Bodh Gaya",
"Dehri-on-Sone",
"Gogri Jamalpur",
"Maner",
"Patna",
"Piro",
"Revelganj",
"Daman and Diu",
"Marmagao",
"Amreli",
"Junagadh",
"Kalavad",
"Pardi",
"Rapar",
"Surat",
"Wadhwan",
"Assandh",
"Kalka",
"Ladwa",
"Mahendragarh",
"Badepalle",
"Kothapeta",
"Kurnool",
"Nellore",
"Sadasivpet",
"Salur",
"Itanagar",
"Barpeta Road",
"Karimganj",
"Kokrajhar",
"Mangaldoi",
"Marigaon",
"Bagaha",
"Bahadurganj",
"Bihar Sharif",
"Colgong",
"Lalganj",
"Purnia",
"Akaltara",
"Bade Bacheli",
"Bemetra",
"Bhatapara",
"Mapusa",
"Dharampur",
"Mahuva",
"Nadiad",
"Salaya",
"Vadodara",
"Visnagar",
"Anklav",
"Arambhada",
"Panipat",
"Sohna",
"Yamunanagar",
"Mandi",
"Shimla",
"Punch",
"Chaibasa",
"Hussainabad",
"Karwar",
"Mahalingpur",
"Puttur",
"Sindhnur",
"Kasaragod",
"Peringathur",
"Thrissur",
"Bhopal",
"Gwalior",
"Indore",
"Mauganj",
"Pandhurna",
"Pipariya",
"Rahatgarh",
"Satna",
"Sendhwa",
"Rahuri",
"Sangole",
"Uchgaon",
"Lilong",
"Thoubal",
"Pattamundai",
"Yanam",
"Fazilka",
"Chakradharpur",
"Lohardaga",
"Gulbarga",
"Karkala",
"Mundargi",
"Raichur",
"Sagar",
"Shimoga",
"Shrirangapattana",
"Sidlaghatta",
"Koothuparamba",
"Kunnamkulam",
"Vaikom",
"Itarsi",
"Pachore",
"Rehli",
"Sagar",
"Pen",
"Ratnagiri",
"Talode",
"Wai",
"Umarga",
"Kakching",
"Jowai",
"Aizawl",
"Anandapur",
"Asika",
"Barbil",
"Biramitrapur",
"Hinjilicut",
"Jharsuguda",
"Joda",
"Rairangpur",
"Titlagarh",
"Madhupur",
"Hassan",
"Malur",
"Nanjangud",
"Pavagada",
"Sadalgi",
"Tiptur",
"Chittur-Thathamangalam",
"Neyyattinkara",
"Palakkad",
"Betul",
"Kotma",
"Maharajpur",
"Mandla",
"Mandsaur",
"Neemuch",
"Nowrozabad",
"Sabalgarh",
"Ahmednagar",
"Mahuli",
"Nanded-Waghala",
"Nandgaon",
"Nandura",
"Panvel",
"Pathardi",
"Pusad",
"Sangli",
"Soyagaon",
"Udgir",
"Nabarangapur",
"Sambalpur",
"Barnala",
"Giddarbaha",
"Amlabad",
"Sopore",
"Rajauri",
"Churi",
"Kolar",
"Mandya",
"Mysore",
"Udupi",
"Vijayapura",
"Chockli",
"Kanhangad",
"Kayamkulam",
"Malappuram",
"Paravoor",
"Ponnani",
"Balaghat",
"Dhar",
"Nagda",
"Niwari",
"Sarangpur",
"Sironj",
"Ichalkaranji",
"Latur",
"Manjlegaon",
"Navi Mumbai",
"Rajura",
"Satana",
"Shegaon",
"Shrigonda",
"Shrirampur",
"Tuljapur",
"Vaijapur",
"Yawal",
"Champhai",
"Bhuban",
"Cuttack",
"Jajapur",
"Kantabanji",
"Koraput",
"Umarkote",
"Chandigarh",
"Faridkot",
"Gumla",
"Hazaribag",
"Jamshedpur",
"Saunda",
"Bangalore",
"Chitradurga",
"Hubli",
"Madhugiri",
"Mudalgi",
"Talikota",
"Cheruthazham",
"Shoranur",
"Thodupuzha",
"Vadakara",
"Kavaratti",
"Pali",
"Panagar",
"Sanawad",
"Sohagpur",
"Wara Seoni",
"Devgarh",
"Durgapur",
"Sailu",
"Wadgaon Road",
"Basudebpur",
"Gunupur",
"Giridih",
"Musabani",
"Phusro",
"Lingsugur",
"Rabkavi Banhatti",
"Ramdurg",
"Aroor",
"Chalakudy",
"Kadirur",
"Kanjikkuzhi",
"Mattannur",
"Lahar",
"Maihar",
"Mhowgaon",
"Shivpuri",
"Chinchani",
"Dombivli",
"Murtijapur",
"Nalasopara",
"Patur",
"Purna",
"Shirpur-Warwade",
"Sinnar",
"Virar",
"Kohima",
"Balangir",
"Balasore",
"Debagarh",
"Firozpur",
"Daltonganj",
"Khunti",
"Ramngarh",
"Mudhol",
"Ashtamichira",
"Erattupetta",
"Irinjalakuda",
"Kollam",
"Pathanamthitta",
"Thiruvalla",
"Manawar",
"Porsa",
"Sehore",
"Sheopur",
"Kalyan",
"Manmad",
"Mukhed",
"Mumbai",
"Partur",
"Pauni",
"Phaltan",
"Sawantwadi",
"Sillod",
"Yavatmal",
"Dimapur",
"Bamra",
"Baripada",
"Bhubaneswar",
"Brahmapur",
"Pondicherry",
"Bokaro Steel name",
"Chamrajnagar",
"Madikeri",
"Magadi",
"Tumkur",
"Ancharakandy",
"Changanassery",
"Chengannur",
"Guruvayoor",
"Ottappalam",
"Perumbavoor",
"Taliparamba",
"Burhanpur",
"Malajkhand",
"Murwara",
"Nainpur",
"Narsinghgarh",
"Raisen",
"Tikamgarh",
"Jalna",
"Malkapur",
"Parbhani",
"Risod",
"Sangamner",
"Tirora",
"Vita",
"Brajrajnagar",
"Kendujhar",
"Malkangiri",
"Raurkela",
"Budhlada",
"Dasua",
"Dhuri",
"Chandrapura",
"Deoghar",
"Bellary",
"Lakshmeshwar",
"Mudbidri",
"Sakleshpur",
"Sedam",
"Shahpur",
"Tekkalakota",
"Yadgir",
"Kalpetta",
"Kannur",
"Kozhikode",
"Thiruvananthapuram",
"Tirur",
"Mandideep",
"Mhow Cantonment",
"Panna",
"Seoni",
"Vidisha",
"Amravati",
"Nashik",
"Osmanabad",
"Pachora",
"Pandharkaoda",
"Warora",
"Washim",
"Tura",
"Bhadrak",
"Bhawanipatna",
"Sunabeda",
"Barughutu",
"Patratu",
"Chintamani",
"Maddur",
"Ramanagaram",
"Ranibennur",
"Shahabad",
"Shiggaon",
"Kalliasseri",
"Kochi",
"Kodungallur",
"Kothamangalam",
"Ashok Nagar",
"Dabra",
"Shajapur",
"Akola",
"Chalisgaon",
"Lonar",
"Malegaon",
"Mehkar",
"Mul",
"Pandharpur",
"Talegaon Dabhade",
"Uran Islampur",
"Saiha",
"Anugul",
"Byasanagar",
"Srinagar",
"Chirkunda",
"Chatra",
"Ara",
"Ghatshila",
"Gumia",
"Jhumri Tilaiya",
"Jamtara",
"Chikkaballapur",
"Mihijam",
"Gundlupet",
"Simdega",
"Malavalli",
"Sindgi",
"Sira",
"Mulbagal",
"Panniyannur",
"Saundatti-Yellamma",
"Dewas",
"Terdal",
"Lundi",
"Mavelikkara",
"Morena",
"Quilandy",
"Pithampur",
"Chhatarpur",
"Jabalpur",
"Prithvipur",
"Shujalpur",
"Nowgong",
"Seoni-Malwa",
"Tarana",
"Shahdol",
"Ujjain",
"Shamgarh",
"Sihora",
"Ozar",
"Mangrulpir",
"Paithan",
"Nagpur",
"Ramtek",
"Sasvad",
"Nilanga",
"Shirdi",
"Shahade",
"Shirur",
"Belpahar",
"Yevla",
"Khordha",
"Rayagada",
"Umred",
"Talcher",
"Vasai",
"Bathinda",
"Mokokchung",
"Dinanagar",
"Bargarh",
"Jaleswar",
"Jatani",
"Rajagangapur",
"Batala",
"Pakaur",
"Sahibganj",
"Kota",
"Siruguppa",
"Tarikere",
"Wadi",
"Kottayam",
"Muvattupuzha",
"Pappinisseri",
"Datia",
"Katni",
"Multai",
"Raghogarh-Vijaypur",
"Ratlam",
"Singrauli",
"Aurangabad",
"Loha",
"Narkhed",
"Nawapur",
"Satara",
"Tumsar",
"Uran",
"Nongstoin",
"Lunglei",
"Bargarh",
"Karanjia",
"Phulabani",
"Amritsar",
"Udhampur",
"Dhanbad",
"Belgaum",
"Mangalore",
"Manvi",
"Sandur",
"Srinivaspur",
"Adoor",
"Akathiyoor",
"Attingal",
"Avinissery",
"Chendamangalam",
"Nedumangad",
"Rau",
"Sarni",
"Sausar",
"Baramati",
"Lonavla",
"Mahad",
"Mangalvedhe",
"Palghar",
"Parli",
"Parola",
"Pathri",
"Pulgaon",
"Savner",
"Zunheboto",
"Jeypur",
"Kendrapara",
"Puri",
"Bhagha Purana",
"Dumka",
"Garhwa",
"Gomoh",
"Tenu Dam-cum- Kathhara",
"Hospet",
"Muddebihal",
"Ron",
"Sankeshwar",
"Shorapur",
"Sirsi",
"Cherthala",
"Mavoor",
"Palai",
"Perinthalmanna",
"Fatehabad",
"Mahidpur",
"Manasa",
"Nepanagar",
"Rajgarh",
"Rewa",
"Sidhi",
"Umaria",
"Manchar",
"Manwath",
"Mhaswad",
"Miraj",
"Raver",
"Solapur",
"Tasgaon",
"Warud",
"Umarkhed",
"Vadgaon Kasba",
"Imphal",
"Mayang Imphal",
"Tuensang",
"Baleshwar",
"Dhenkanal",
"Jagatsinghapur",
"Godda",
"Ranchi",
"Arasikere",
"Robertson Pet",
"Savanur",
"Shikapur",
"Alappuzha",
"Payyannur",
"Punalur",
"Varkala",
"Narsinghgarh",
"Pasan",
"Ujhani",
"Dhule",
"Morshi",
"Nandurbar",
"Pune",
"Shendurjana",
"Wani",
"Wardha",
"Shillong",
"Wokha",
"Paradip",
"Parlakhemundi",
"Soro",
"Sundargarh",
"Karaikal",
"Mahe",
"Ahmedgarh",
"Firozpur Cantt.",
"Mansa",
"Patiala",
"Qadian",
"Tarn Taran",
"Banswara",
"Lakheri",
"Neem-Ka-Thana",
"Nohar",
"Udaipurwati",
"Chennai",
"Lalgudi",
"Namakkal",
"Ponneri",
"Tharangambadi",
"Udumalaipettai",
"Allahabad",
"Sahaspur",
"Shamsabad",
"Shikohabad",
"Tulsipur",
"Unnao",
"Vrindavan",
"Adra",
"Haldia",
"Jhargram",
"Murshidabad",
"Malerkotla",
"Karoran",
"Kapurthala",
"Moga",
"Muktsar",
"Pathankot",
"Samana",
"Bandikui",
"Phalodi",
"Phulera",
"Sikar",
"Sojat",
"Arakkonam",
"Erode",
"Natham",
"Parangipettai",
"Rameshwaram",
"Chandausi",
"Dadri",
"Fatehpur",
"Hamirpur",
"Naraura",
"Padrauna",
"Thana Bhawan",
"Zaidpur",
"Dehradun",
"Haldwani",
"Pithoragarh",
"Sitarganj",
"Bankura",
"Purulia",
"Taki",
"Jalandhar",
"Rampura Phul",
"Phillaur",
"Hoshiarpur",
"Alwar",
"Fatehpur",
"Kota",
"Nangal",
"Makrana",
"Merta name",
"Nasirabad",
"Nagar",
"Nelamangala",
"Patti",
"Reengus",
"Nipani",
"Sirhind Fatehgarh Sahib",
"Todabhim",
"Dindigul",
"Ajmer",
"Pilani",
"Nagapattinam",
"Mandalgarh",
"Sadri",
"Periyakulam",
"Pilibanga",
"Sagwara",
"Sawai Madhopur",
"Pudupattinam",
"Shenkottai",
"Nellikuppam",
"Sardarshahar",
"Puliyankudi",
"Oddanchatram",
"Tenkasi",
"Uthamapalayam",
"Panagudi",
"Punjaipugalur",
"Sholingur",
"Adari",
"Lar",
"Sivagiri",
"Suriyampalayam",
"Thuraiyur",
"Nawabganj",
"Srivilliputhur",
"Thirunindravur",
"Phulpur",
"Vandavasi",
"Bareilly",
"Rudauli",
"Thiruvarur",
"Thoothukudi",
"Safipur",
"Renukoot",
"Bazpur",
"Sahaswan",
"Tindivanam",
"Tiruppur",
"Sahawar",
"Rishikesh",
"Shahabad",
"Tiruvethipuram",
"Roorkee",
"Viswanatham",
"Shishgarh",
"Sikanderpur",
"Balrampur",
"Jajmau",
"Sirsaganj",
"Modinagar",
"Manglaur",
"Asansol",
"Muradnagar",
"Nautanwa",
"Memari",
"Sahjanwa",
"Samdhan",
"Suri",
"Samthar",
"Davanagere",
"Sandila",
"Utraula",
"Almora",
"Ramnagar",
"Baharampur",
"Chinsura",
"Pandua",
"Rampurhat",
"Malout",
"Mangrol",
"Nagaur",
"Pratapgarh",
"Shahpura",
"Sheoganj",
"Taranagar",
"Calcutta",
"Chengalpattu",
"Kanchipuram",
"Kollankodu",
"Neyveli",
"Padmanabhapuram",
"Thammampatti",
"Vadalur",
"Vellakoil",
"Agartala",
"Kailasahar",
"Achhnera",
"Amroha",
"Ballia",
"Powayan",
"Tirwaganj",
"Warhapur",
"Kharagpur",
"Medinipur",
"Monoharpur",
"Chennai",
"Jaisalmer",
"Ladnu",
"Nargund",
"Pali",
"Raisinghnagar",
"Rajakhera",
"Sanchore",
"Sangaria",
"Sumerpur",
"Gangtok",
"Coonoor",
"Pallikonda",
"Polur",
"Pudukkottai",
"Sattur",
"Surandai",
"Thiruparappu",
"Tirukalukundram",
"Viluppuram",
"Badharghat",
"Indranagar",
"Lakhimpur",
"Lalganj",
"Nagina",
"Reoti",
"Sirsi",
"Tilhar",
"Kashipur",
"Barasat",
"Durgapur",
"Chikmagalur",
"Rajpura",
"Urmar Tanda",
"Lachhmangarh",
"Niwai",
"Nokha",
"Rajgarh (Churu",
"Suratgarh",
"Coimbatore",
"Cuddalore",
"Dharmapuri",
"Gudalur",
"Karaikudi",
"Karur",
"Palladam",
"Paramakudi",
"Sirkali",
"Tiruchirappalli",
"Tirupathur",
"Vedaranyam",
"Virudhachalam",
"Udaipur",
"Deoria",
"Laharpur",
"Najibabad",
"Orai",
"Pihani",
"Pukhrayan",
"Robertsganj",
"Shikarpur",
"Tanda",
"Tundla",
"Paschim Punropara",
"Sainthia",
"Siliguri",
"Srirampore",
"Jagraon",
"Jalandhar Cantt.",
"Kartarpur",
"Nakodar",
"Nawanshahr",
"Jodhpur",
"Malpura",
"Ratangarh",
"Bhavani",
"Karungal",
"Pallapatti",
"Pollachi",
"Ramanathapuram",
"Sathyamangalam",
"Tirukkoyilur",
"Tiruttani",
"Valparai",
"Pratapgarh",
"Fatehpur",
"Jaunpur",
"Jhansi",
"Kalpi",
"Nanpara",
"Shahjahanpur",
"Thakurdwara",
"Arambagh",
"Jandiala",
"Talwara",
"Losal",
"Nadbai",
"Navalgund",
"Namagiripettai",
"Nandivaram-Guduvancheri",
"Sivaganga",
"Thirumangalam",
"Vellore",
"Khowai",
"Lalitpur",
"Meerut",
"Palia Kalan",
"Parasi",
"Pilibhit",
"Puranpur",
"Rasra",
"Sikandra Rao",
"Haridwar",
"Tehri",
"Bally",
"Morinda",
"Jalalabad",
"Nabha",
"Kurali",
"Raikot",
"Rupnagar",
"Nawalgarh",
"Rawatbhata",
"Tonk",
"Gudalur",
"P.N.Patti",
"Peravurani",
"Rajapalayam",
"Tharamangalam",
"Tirupathur",
"Tiruvannamalai",
"Unnamalaikadai",
"Usilampatti",
"Virudhunagar",
"Bahraich",
"Nakur",
"Rampur Maniharan",
"Rudrapur",
"Sikandrabad",
"Soron",
"Kolkata",
"Mal",
"Naihati",
"Raghunathpur",
"Ranaghat",
"Phagwara",
"Sangrur",
"Lalsot",
"Mandawa",
"Pipar name",
"Prantij",
"Rajaldesar",
"Sadulshahar",
"Sambhar",
"Arcot",
"Periyasemur",
"Sankarankoil",
"Sivakasi",
"Tiruchendur",
"Udhagamandalam",
"Vadakkuvalliyur",
"Vadipatti",
"Vaniyambadi",
"Etawah",
"Naugawan Sadat",
"Rath",
"Sandi",
"Seohara",
"Shahabad",
"Shahganj",
"Shamli",
"Sultanpur",
"Sumerpur",
"Alipurduar",
"Balurghat",
"Barakar",
"Islampur",
"Mathabhanga",
"Raiganj",
"Tamluk",
"Dharwad",
"Gobindgarh",
"Ludhiana",
"Bikaner",
"Mount Abu",
"Sunam",
"Zira",
"Nathdwara",
"Jaipur",
"Sirohi",
"Rajgarh (Alwar)",
"Pernampattu",
"Rajsamand",
"Ramganj Mandi",
"Salem",
"Ramngarh",
"Rawatsar",
"Thirupuvanam",
"Shahpura",
"Uthiramerur",
"Dharmanagar",
"Sri Madhopur",
"Todaraisingh",
"Jogendranagar",
"Chinna salem",
"Nehtaur",
"Nanjikottai",
"Sadabad",
"Siana",
"Pacode",
"Theni Allinagaram",
"Jaspur",
"Tirunelveli",
"kichha",
"Agra",
"Banda",
"Kotdwara",
"Mussoorie",
"Fatehabad",
"Nainital",
"Lal Gopalganj Nindaura",
"Rudrapur",
"Saharanpur",
"Cooch Behar",
"Sambhal",
"Mainaguri",
"Sherkot",
"Panchla",
"Zamania",
"Chamba",
"Muzaffarnagar",
"Darjeeling",
"Tarakeswar",
"Gadag",
"Khanna",
"Gurdaspur",
"Jaitu",
"Kot Kapura",
"Longowal",
"Maur",
"Mukerian",
"Zirakpur",
"Pindwara",
"Udaipur",
"O Valley",
"Palani",
"Thanjavur",
"Thiruthuraipoondi",
"Thiruvallur",
"Aligarh",
"Azamgarh",
"Kota",
"Loni",
"Mathura",
"NOIDA",
"Obra",
"Purquazi",
"Shamsabad",
"Sitapur",
"Suar",
"Tanda",
"Nagla",
"Howrah",
"Nabadwip",
"Sonamukhi",
"Kharar",
"Mohali",
"Patran",
"Sujanpur",
"Bali",
"Baran",
"Barmer",
"Nimbahera",
"Sujangarh",
"Vijainagar",
"Aruppukkottai",
"Gudalur",
"Madurai",
"Nagercoil",
"Panruti",
"Pattukkottai",
"Perambalur",
"Rasipuram",
"Sankari",
"Sholavandan",
"Tiruchengode",
"Tittakudi",
"Vikramasingapuram",
"Greater Noida",
"Hardoi",
"Kanpur",
"Lucknow",
"Noorpur",
"Pilkhuwa",
"Purwa",
"Rae Bareli",
"Rampur",
"Saidpur",
"Sardhana",
"Tetri Bazar",
"Varanasi",
"Pauri",
"Bardhaman",
"Bidhan Nagar",
"Contai",
"Santipur",
"Coimbatore",
"Port Blair",
"kodaikanal",
"Yakutsk",
"Alaska"
]
    // Constructing the suggestion engine
    var cars = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: cars
    });

    // Initializing the typeahead
    $('.typeahead').typeahead({
        hint: true,
        highlight: true, /* Enable substring highlighting */
        minLength: 1 /* Specify minimum characters required for showing result */
    },
    {
        name: 'cars',
        source: cars
    });
});</script>
  </head>
  <body>
      <nav class="navbar navbar-expand-md nav-light" style="background-color:#e06666;">
        <span>
          <a class="navbar-brand ms-3" style="color:white;font-family:Pacifico;font-size:1.5rem;">
             <img src="images/temp2.jpg"  width="7%" height="7%" class="my-auto me-1">Weather App</a>
             <button class="navbar-toggler float-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
        </span>


   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav ms-auto me-3" >
       <li class="nav-item px-3 mx-2">
         <a class="nav-link" href="/current" style="color:white;font-family:Roboto Flex;font-size:1rem;">Current Weather</a>
       </li>
       <li class="nav-item px-3 mx-2">
         <a class="nav-link" href="/" style="color:white;font-family:Roboto Flex;font-size:1rem;">City Weather</a>
       </li>
     </ul>
   </div>

      </nav>
      <main class="form-signin w-100 mx-auto my-auto text-center pt-5">

        <form action="/" method="post" class="pt-5">
          <img class="mb-4" src="/images/temp4.png" alt="" width="72" height="57">
          <h1 class="h3 mb-3 fw-normal"  style="font-family:Source Sans Pro;">Weather</h1>

          <!-- <div class="form-floating">
            <input type="text" class="form-control " name="cityholder" id="floatingInput" placeholder="xyz" >
            <label for="floatingInput" style="font-family:Source Sans Pro;text-align:left;">Enter City Name</label>
          </div> -->
          <div class="bs-example">

        <input type="text" class="typeahead tt-query form-control" autocomplete="off" spellcheck="false" name="cityholder">
    </div>


          <!-- <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div> -->
          <button class="w-100 btn btn-lg btn-primary" type="submit">Go</button>

        </form>
      </main>
      <section id="footer">
        <div class="container " >
          <p class="mt-3" >© Ceg,Chennai</p>
        </div>
      </section>

  </body>
</html>
