<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<!-- css -->
<link rel="stylesheet" href="css/styles.css">
<!-- fonts -->
<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Flex:opsz@8..144&family=Source+Sans+Pro&display=swap" rel="stylesheet">
<!-- typeahead -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script  type="text/javascript" src="js/typeahead.js"></script>
<style>
.bs-example {
	font-family: Source Sans Pro;
	/* position: relative; */
	/* margin: 100px; */
  margin-bottom: 2%;
}
.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 22px; /* Set input font size */
	height: 40px;
	line-height: 40px;
	outline: medium none;
	padding: 8px 12px;
	width: 100%;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	/* margin-top: 12px; */
	padding: 8px 0;
	width: 100%;
}
.tt-suggestion {
	font-size: 22px;  /* Set suggestion dropdown font size */
	padding: 3px 20px;
}
.tt-suggestion:hover {
	cursor: pointer;
	background-color: #e06666;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}
</style>
<script>
$(document).ready(function(){
    // Defining the local dataset

// var cars=<%-list%>;
// console.log(cars);
var cars=[];
<% for (var i = 0; i < list.length ; i++) { %>
        cars.push('<%-list[i] %>');
    <% } %>
console.log(cars);
    // Constructing the suggestion engine
    var cars = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: cars
    });

    // Initializing the typeahead
    $('.typeahead').typeahead({
        hint: true,
        highlight: true, /* Enable substring highlighting */
        minLength: 1 /* Specify minimum characters required for showing result */
    },
    {
        name: 'cars',
        source: cars
    });
});</script>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg nav-light" style="background-color:#e06666;">
        <span>
          <a class="navbar-brand ms-3" style="color:white;font-family:Pacifico;font-size:1.5rem;">
             <img src="images/temp2.jpg"  width="7%" height="7%" class="my-auto me-1">Weather App</a>
             <button class="navbar-toggler float-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
        </span>


   <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav ms-auto me-3" >
       <li class="nav-item px-3 mx-2">
         <a class="nav-link" href="/current" style="color:white;font-family:Roboto Flex;font-size:1rem;">Current Weather</a>
       </li>
       <li class="nav-item px-3 mx-2">
         <a class="nav-link" href="/" style="color:white;font-family:Roboto Flex;font-size:1rem;">City Weather</a>
       </li>
     </ul>
   </div>

      </nav>
      <main class="form-signin">

        <form action="/" method="post" style="padding-top:40%;margin-top:1%;">
          <img class="mb-4" src="/images/temp4.png" alt="" width="72" height="57">
          <h1 class="h3 mb-3 fw-normal"  style="font-family:Source Sans Pro;">Weather</h1>

          <!-- <div class="form-floating">
            <input type="text" class="form-control " name="cityholder" id="floatingInput" placeholder="xyz" >
            <label for="floatingInput" style="font-family:Source Sans Pro;text-align:left;">Enter City Name</label>
          </div> -->
          <div class="bs-example">

        <input type="text" class="typeahead tt-query form-control" autocomplete="off" spellcheck="false" name="cityholder">
    </div>


          <!-- <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div> -->
          <button class="w-100 btn btn-lg btn-primary" type="submit">Go</button>

        </form>
      </main>
      <section id="footer">
        <div class="container " >
          <p class="mt-3" >© Ceg,Chennai</p>
        </div>
      </section>

  </body>
</html>
