<%- include("partials/header.ejs") -%>
  <body >
    <!-- nav bar -->
    <nav class="navbar navbar-default">
       <div class="container">
         <div class="navbar-header">
           <p class="navbar-brand">DAILY JOURNAL</p>
         </div>
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       <li class="nav-item">
         <a class="nav-link"  href="/x">Home</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#">Link</a>
       </li>
       </div>
     </nav>
<main class="form-signin w-100 m-auto text-center">

  <form action="/" method="post">
    <img class="mb-4" src="/images/temp.png" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Weather</h1>

    <div class="form-floating">
      <input type="text" class="form-control" name="cityholder" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Enter City Name</label>
    </div>


    <!-- <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div> -->
    <button class="w-100 btn btn-lg btn-primary" type="submit">Go</button>
    <p class="mt-5 mb-3 text-muted">@CEG,CHENNAI</p>
  </form>
</main>



  </body>
</html>
